root = "."
tmp_dir = "tmp"

[build]
  
  cmd = "go build -o ./tmp/server.exe ./cmd/server"
  
 
  bin = "./tmp/server.exe"
  

  include_ext = ["go", "tpl", "tmpl", "html", "env"]
  
  
  exclude_dir = ["assets", "tmp", "vendor", "internal/docs", ".git"]
  

  exclude_regex = ["_test.go"]
  
  
  stop_on_error = true
  
 
  delay = 1000

[log]
  time = true
  main_only = false

[color]
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[misc]
 
  clean_on_exit = true